
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #f8f9fa;
  cursor: url(../assets/mostaza2.png), auto;

}

a, button, .btnYellow, .btnRed, Image {
  cursor: url('../assets/kepchup2.png'), auto !important;
}


a {
  text-decoration: none;
  color: inherit;
}

.line {
  display: block;
  line-height: 1.2;
}

