.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -100px;
}

.logo {
  width: 150px;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.banner-text h2 {
  font-size: 90px;
  font-weight: bolder;
  color: black;
}

.banner-text p {
  font-size: 30px;
  color: black;
  text-align: start;
}



.line {
  display: block;
  margin-top: -10px;
}

.order-button {
  padding: 15px 30px;
  background-color: #ffcc00;
  color: #ff3030;
  border: none;
  font-size: 20px;
}

.order-button:hover {
  background-color: #ff3030;
  color:#ffcc00;
}

@media (max-width: 768px) {
  .banner-text {
    align-items: center;
    text-align: center;
  }

  .banner-container {
    margin-top: 80px;
  }
  .banner-text h2 {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    color: black;
  }
  .banner-text p {
    font-size: 23px;
    color: black;
  }
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}
