.footer-container {
    background-color: #FCDA51;
    padding: 10px 0;
  }
  
  .footer-image-container {
    padding: 0;
  }
  
  .footer-image {
    max-height: 100px;
  }
  
  .footer-text-container {
    color: #FE3031;
    font-size: 14px;
    padding: 10px;
  }
  
  .footer-text-container h5 {
    margin-bottom: 5px;
  }
  
  .footer-text-container p {
    margin-bottom: 5px;
  }
  