.footer-container {
    background-color: #FCDA51;
    padding: 10px 0;
  }
  
  .footer-image-container {
    padding: 0;
  }
  
  .footer-image {
    max-height: 100px;
  }
  
  .footer-text-container {
    color: #FE3031;
    font-size: 14px;
    padding: 10px;
  }
  
  .footer-text-container h5 {
    margin-bottom: 5px;
  }
  
  .footer-text-container p {
    margin-bottom: 5px;
  }
  

  .text h4 {
    font-size: 25px;
    font-weight: bold;
  
  }
  h5 {
    font-weight: bold;
  }
  .text p {
    font-size: 17px;
  }

  .text {
    color: #fe3031;
    font-size: 14px;
    align-items: start;
    justify-content: end;
    display: flex;
    flex-direction: column;
  }

  
  .TextFooter {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (max-width: 768px) { 
    .TextFooter {
      padding-top: 10px;
      padding-bottom: 50px;
    }
  }
