ul li {
  list-style-type: none;
  font-size: 25px;
}
ul{
  padding: 10px;
  
}

ul li:hover {
  transform: scale(1.1);
}
ul li a:hover {
  color: #fe3030;
}
ul li .active {
  color: #fe3030;
}
.order{
  background-color: #fddb52;

}

@media (max-width: 767px) {
  ul li {
    font-size: 15px;
    font-size: large;
    font-weight: bold;
    padding-top: 40px;
  }
  ul {
    padding-right: 20px;
  }
}
