.cast-carousel .carousel-item {
    transition: transform 0.5s ease, opacity 0.5s ease-in-out;
  }
  
  .cast-carousel .carousel-item-left,
  .cast-carousel .carousel-item-right {
    opacity: 0.5; /* Ajusta la opacidad según tu preferencia */
    transform: scale(0.9); /* Reduce el tamaño para un efecto de desvanecimiento */
  }
  
  .cast-carousel .carousel-item-next,
  .cast-carousel .carousel-item-prev,
  .cast-carousel .carousel-item.active {
    opacity: 1;
    transform: scale(1);
  }
  