ul li {
  list-style-type: none;
  font-size: 25px;
}
ul{
  padding: 10px;
  
}

.active-link {
  color: #fe3030;
  font-weight: bold;
  font-size: 28px;
}


@media (max-width: 767px) {
  ul li {
    font-size: 15px;
    font-size: large;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
  }
  .active-link {
    font-size: 20px;
  }
  
}
