.text {
  color: #fe3031;
  font-size: 14px;
  margin-left: 50px;
  align-items: start;
  justify-content: end;
  display: flex;
  flex-direction: column;
}

.FooterHome {
  background-color: #fcda51;
  padding-top: 45px;
  padding-bottom: 45px;
  height: 100%;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .text {
    margin-left: 0%;
    margin-top: 5%;
  }
  .footer-image {
    display: none;
  }
  .FooterHome {
    padding-top: 10px;
    padding-bottom: 50px;
  }
}

.image-container {
  position: absolute;
  bottom: 0;
  width: 38%;
  right: 61%;
}
.text h4 {
  font-size: 25px;
  font-weight: bold;
}
h5 {
  font-weight: bold;
}
.text p {
  font-size: 17px;
}
