.text-contact{
  font-weight: bolder;
   color: #ff3030;
    font-size: 50px;
}

.text-contact:hover{
  color: #fcdb52;
}

.logo {
  max-height: 150px;
}

.social-icons {
  display: flex;
}

.social-icon {
  width: 35px;
  height: 35px;
}

@media (max-width: 767px) {
  .navbar-custom {
    padding: 10px 0;
  }

  .social-icons {
    justify-content: flex-end;
    gap: 10px;
  }

  .d-md-none {
    text-align: right;
  }
}


